:root {
  --p-toast-width: min(25rem, calc(100vw - 2rem));
  --p-datatable-header-cell-padding: 0.5em 0.7rem;
  --p-datatable-body-cell-padding: 0.3rem 0.7rem;
  --p-datatable-border-color: #a1a1aa;
  --p-datatable-header-border-color: #a1a1aa;
  --p-datatable-header-cell-border-color: #a1a1aa;
  --p-datatable-body-cell-border-color: #a1a1aa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --p-datatable-border-color: #52525b;
    --p-datatable-header-border-color: #52525b;
    --p-datatable-header-cell-border-color: #52525b;
    --p-datatable-body-cell-border-color: #52525b;
  }
}

.p-datatable-thead > tr > th:first-child,
.p-datatable-tbody > tr > td:first-child {
  padding-left: 1rem;
}

.p-datatable-thead > tr > th:last-child,
.p-datatable-tbody > tr > td:last-child {
  padding-right: 1rem;
}
